@media(min-width: 1431px){
    .nav-panel{
        transition: all .3s;
    }
    
    .nav-panel.active{
        left: -260px;
        transition: all .3s;
    }
    
    .bace.active{
        width: 100%;
    }
}

@media(max-width: 1430px){
    .nav-panel.active{
        left: 0px;
        transition: all .3s;
    }
    
    .nav-panel{
        left: -260px;
        transition: all .3s;
    }

    .bace{
        width: 100%;
    }

    .bace.active{
        width: 100%;
    }

    .overlay-menu.active{
        position: fixed;
        z-index: 40;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .6;
        transition: all .4;

    } 
}



@media(max-width: 768px){
    .top-input.active{
        display: block;
        width: 28rem;
    }
    
    .burger-menu-one.active{
        display: none;
    }

    .burger-menu-too.active{
        margin: auto;
    }

    .burger-menu-three.active{
        display: none;
    }
    
    .scretch.active{
        background-color: rgb(243 244 246);
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

    .leftbutton.active{
        display: block;
    }

    .Micro_Scretch.active{
        display: flex;
    }

    .scretch-main.active{
        background-color: rgb(243 244 246);
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }
}

@media(max-width: 600px){
    .top-input.active{
        display: block;
        width: 20rem;
    }
}

@media(max-width: 500px){
    .top-input.active{
        display: block;
        width: 12rem;
    }
}

@media(min-width: 1281px){
    .list-main-too.active{
        display: none;
    }
}

.microphone__permission.active{
    display: block;
}

#box-shadow-left{
    box-shadow: 1px 2px 20px rgb(165, 163, 163);
}

#notifications{
    box-shadow: 1px 2px 20px rgb(165, 163, 163);
}

#box-shadow-left.active{
    display: block;
}

.main-accaunt{
    box-shadow: 1px 2px 20px rgb(163, 163, 163);
}

.microphone__permissionn{
    box-shadow: 1px 2px 20px rgb(163, 163, 163);
}

.overlay.active{
    background-color: transparent;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: .9;
    transition: all .4;
}

.modal.active{
    display: block;
}

/* Пагинация */

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.pagination-ul{
    display: flex;
    list-style: none;
}

.pagination-li{
    margin-right: 2em;
    margin-left: 2em;
    padding: 10px;
    cursor: pointer;
}

.pagination-btn-active{
    font-size: 20px;
    font-weight: 700;
    color: rgb(178, 254, 0);
    border-radius: 15%;
    background-color: rgb(161, 161, 161);
    transition: 300ms;
}

@media(max-width: 900px){
    .pagination-li{
        margin-right: .5em;
        margin-left: .5em;
    }
}

@media(max-width: 500px){
    .pagination-li{
        margin-right: .2em;
        margin-left: .2em;
    }
}

@media(max-width: 400px){
    .pagination-li{
        margin-right: 0;
        margin-left: 0;
    }
}




